withings_api
flask~=1.1.2
pip~=20.2.4
arrow~=0.17.0
python-dateutil~=2.8.1
Jinja2~=2.11.2
Werkzeug~=1.0.1
itsdangerous~=1.1.0
click~=7.1.2
requests~=2.24.0
requests-oauth~=0.4.1
MarkupSafe~=1.1.1
certifi~=2020.6.20
chardet~=3.0.4
urllib3~=1.25.11
six~=1.15.0
oauthlib~=3.1.0
idna~=2.10
setuptools~=50.3.2